// the smallest grid unit
$ui-unit: 4px;
$ui-unit-xsm: 8px;
$ui-unit-sm: 16px;
$ui-unit-md: 24px;
$ui-unit-lg: 32px;
$ui-unit-xlg: 40px;

$ui-units: ("xsm", $ui-unit-xsm),
        ("sm", $ui-unit-sm),
        ("md", $ui-unit-md),
        ("lg", $ui-unit-lg),
        ("xlg", $ui-unit-xlg);

$ui-padding: $ui-unit-xsm;
$ui-margin: $ui-unit-sm;

// height of elements
$ui-text-action-bar: $ui-unit-md;
$ui-height-toolbar: $ui-unit-sm + $ui-unit * 2;
$ui-divider: $ui-unit-xsm;

.ui-width-2-buttons {
  width: ($ui-unit-md + $ui-unit) * 2;
}