@import "../../Config";

.ui-divider {
  display: block;
  padding: 0;
  margin: 0;

  &.ui-vert {
    width: $ui-divider;
    height: 100%;
    //border-left: 1px solid $ui-color-border;
    //border-right: 1px solid $ui-color-border;
    cursor: ew-resize;
  }
  &.ui-horz {
    width: 100%;
    height: $ui-divider;
    //border-top: 1px solid $ui-color-border;
    //border-bottom: 1px solid $ui-color-border;
    cursor: ns-resize;
  }
}