@import "../../../Config";

.ui-toolbar-input {
  display: inline-block;
  position: relative;
  height: $ui-unit-md;
  overflow: hidden;
  width: 100%;

  input {
    height: $ui-unit-md;
    margin: 0;
    width: 100%;
  }
}