@import "../../Config";

.ui-tooltip {
  display: block;
  position: absolute;
  top: -9999px;
  left: -9999px;

  margin-top: 14px;
  font-size: 12px;
  line-height: 22px;
  padding: 0 $ui-padding;
  @include border-radius($ui-unit);

  background-color: $ui-color-tooltip-bg;
  color: $ui-color-tooltip-text;
  opacity: 0;

  @include transition(opacity 0.3s ease-in-out);

  &.fadeIn {
    opacity: 0.9;
  }
}