@import "Config";

* {
  @include box-sizing(border-box);
}

body {
  background-color: $ui-color-body-bg;
  color: $ui-color-body-text;
  //overflow: hidden !important;
  font-family: $ui-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: $ui-font-size;
  line-height: $ui-line-height;
}
