/* http://www.materialpalette.com/blue-grey/teal */
$ui-color-primary: #607D8B !default;
$ui-color-primary-light: #CFD8DC !default;
$ui-color-primary-text: #FFFFFF !default;
$ui-color-primary-bg: #212121 !default;
$ui-color-secondary-text: #F2F2F2 !default;
$ui-color-secondary-bg: #313131 !default;
$ui-color-accent: #009688 !default;

$ui-color-text-bg: #FFFFFF !default;
$ui-color-text-base: rgb(0, 0, 0) !default;
$ui-color-text-primary: rgba($ui-color-text-base, 0.87) !default;
$ui-color-text-secondary: rgba($ui-color-text-base, 0.54) !default;
$ui-color-text-disabled: rgba($ui-color-text-base, 0.38) !default;
$ui-color-text-hint: rgba($ui-color-text-base, 0.38) !default;

// the large header that is colored by the theme primary
$ui-color-banner-bg: $ui-color-primary !default;
$ui-color-banner-text: $ui-color-primary-text !default;
$ui-color-banner-secondary-text: $ui-color-primary-light !default;

// black and white text
$ui-color-body-bg: $ui-color-primary-bg !default;
$ui-color-body-text: $ui-color-primary-text !default;
$ui-color-body-secondary-text: $ui-color-secondary-text !default;

// buttons
$ui-color-button-bg: $ui-color-accent !default;
$ui-color-button-text: $ui-color-primary-text !default;

// borders and divers
$ui-color-border: #464646 !default;

// tooltips
$ui-color-tooltip-bg: $ui-color-primary-bg !default;
$ui-color-tooltip-text: $ui-color-primary-text !default;

$ui-color-graph-bg: #474747 !default;

$ui-color-toolbar-bg: #484848 !default;
$ui-color-properties-bg: #545454 !default;
$ui-color-input-bg: #202020 !default;

// these are the new colors, the above is deprecated
$ui-color-control: #656565 !default;
$ui-color-control-border: #262626 !default;