/* http://www.materialpalette.com/blue-grey/teal */
$primary-color-dark: #455A64;
$primary-color: #607D8B;
$primary-color-light: #CFD8DC;
$primary-color-text: #FFFFFF;
$accent-color: #009688;
$divider-color: #464646;

$primary-bg-color: #212121;
$primary-text-color: #FFFFFF;
$secondary-text-color: #F2F2F2;

$ui-color-text-bg: #FFFFFF;
$ui-color-text-base: rgb(0, 0, 0);
$ui-color-text-primary: rgba($ui-color-text-base, 0.87);
$ui-color-text-secondary: rgba($ui-color-text-base, 0.54);
$ui-color-text-disabled: rgba($ui-color-text-base, 0.38);
$ui-color-text-hint: rgba($ui-color-text-base, 0.38);

// the large header that is colored by the theme primary
$ui-color-banner-bg: $primary-color;
$ui-color-banner-text: $primary-color-text;
$ui-color-banner-secondary-text: $primary-color-light;

// black and white text
$ui-color-body-bg: $primary-bg-color;
$ui-color-body-text: $primary-text-color;
$ui-color-body-secondary-text: $secondary-text-color;

// buttons
$ui-color-button-bg: $accent-color;
$ui-color-button-text: $primary-color-text;

// borders and divers
$ui-color-border: $divider-color;

// tooltips
$ui-tooltip-bg: $primary-bg-color;
$ui-tooltip-text: $primary-text-color;

$ui-graph-bg: #474747;

$ui-toolbar-bg: #484848;
$ui-properties-bg: #545454;
$ui-input-bg: #202020;

// these are the new colors, the above is deprecated
$ui-control: #656565;
$ui-control-border: #262626;