// the smallest grid unit
$ui-unit: 4px !default;
$ui-unit-xsm: 8px !default;
$ui-unit-sm: 16px !default;
$ui-unit-md: 24px !default;
$ui-unit-lg: 32px !default;
$ui-unit-xlg: 40px !default;

$ui-units: ("xsm", $ui-unit-xsm),
        ("sm", $ui-unit-sm),
        ("md", $ui-unit-md),
        ("lg", $ui-unit-lg),
        ("xlg", $ui-unit-xlg) !default;

$ui-padding: $ui-unit-xsm !default;
$ui-margin: $ui-unit-sm !default;

// height of elements
$ui-height-toolbar: $ui-unit-sm + $ui-unit * 2 !default;
$ui-divider: $ui-unit-xsm !default;

$ui-font-family: "Roboto", Helvetica, Arial, sans-serif !default;
$ui-font-size: 14px !default;
$ui-line-height: 16px !default;