@import "../../../Config";

.ui-menu-items {
  display: block;

  &.popup {
    position: absolute;
    z-index: 100;
    padding: $ui-unit-xsm 0;

    background-color: $ui-color-text-bg;
    color: $ui-color-text-primary;

    @include border-radius($ui-unit);
  }

  &.embedded {
    position: relative;
    z-index: auto;
  }
}