<a href="https://github.com/thinkingmedia/thinkingmedia-ui/edit/master/www/src/UI/Controls/Button/Button.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/thinkingmedia/thinkingmedia-ui/blob/9fe9518/www/src/UI/Controls/Button/Button.js#L25" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable="">uiButton</code>
<div><span class="hint">service in module <code ng:non-bindable="">ui.controls</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="ui-controls-uibutton-page"><p>Handles the rendering of a UI button.</p>
<h4 id="description_size-inheritance">Size Inheritance</h4>
<p>Buttons, Toolbars and other UI controls can be shown using different sizes. When a uiButton is a child of uiToolbar
it can inherit the size setting from uiToolbar.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/components/ui.services.uiSize">uiSize</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;ui-button
       size="{string}"&gt;
&lt;/ui-button&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>size</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="ui-controls-uibutton-page"><p>The size for the button (can be inherited)</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="ui-controls-uibutton-page"><h4 id="example_source">Source</h4>
<div source-edit="ui" source-edit-deps="angular.js" source-edit-html="index.html-0" source-edit-css="" source-edit-js="" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-0" ng-html-wrap-loaded="ui angular.js"></pre>
<script type="text/ng-template" id="index.html-0">
<ui-button>Submit</ui-button>
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="ui" ng-set-html="index.html-0" ng-eval-javascript=""></div>
</div></div>
</div>
